@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="title" class="display-4"></h1>
    <span>
        @Html.ActionLink("作業1", "First", "Home", null, new { @class="btn btn-warning"})
    </span>
    <span>
        @Html.ActionLink("作業2", "Second", "Home", null, new { @class="btn btn-warning"})
    </span>
    <span>
        @Html.ActionLink("作業3", "Third", "Home", null, new { @class="btn btn-warning"})
    </span>
    <span>
        @Html.ActionLink("作業4", "Fourth", "Home", null, new { @class="btn btn-warning"})
    </span>
    <span>
        @Html.ActionLink("作業5", "Fifth", "Home", null, new { @class="btn btn-warning"})
    </span>
    <span>
        @Html.ActionLink("作業6", "Sixth", "Home", null, new { @class="btn btn-warning"})
    </span>
    <span>
        @Html.ActionLink("作業7", "Seventh", "Home", null, new { @class="btn btn-warning"})
    </span>
</div>

@section Scripts{
    <script>
        document.querySelector("#title").innerHTML = "Ajax 作業"
    </script>
}

@section Styles{
    <style>
        h1 {
            background-color: pink;
        }
    </style>
}